@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #fff;
$title-line-height: 1.125;

$navbar-background-color: #000;

$footer-background-color: #04d9ff;

@import "~bulma/bulma.sass";
