@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #fff;
$title-line-height: 1.125;

$navbar-background-color: #fff;
$navbar-item-color: #000;
$navbar-item-active-color: #37b7d2;
$navbar-item-hover-background-color: #fff;
$navbar-item-hover-color: #37b7d2;

// $section-padding: 1rem, 1.5rem;

$footer-background-color: rgb(0, 0, 0);

$button-border-color: rgb(167, 3, 255);

@import "~bulma/bulma.sass";
