@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #fff;
$title-line-height: 1.125;

$navbar-background-color: #000;
$navbar-item-color: #fff;
$navbar-item-active-color: #37b7d2;
$navbar-item-hover-background-color: #000;
$navbar-item-hover-color: #37b7d2;

$footer-background-color: #0dd3bb;

@import "~bulma/bulma.sass";
