.showborder {
  border-width: 3px;
  border-style: solid;
  border-color: red;
}

.movetocenter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/*navbar*/
.nav-name {
  color: #fff;
  font-family: Ubuntu;
}

.section-style {
  max-width: 950px;
}

.skills {
  margin-bottom: 70px;
}

.section-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  margin-bottom: 15px;
}

.section-topic {
  margin-top: 30px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #494b50;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.now-style {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 120%;
}

.now-style2 {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.now-text {
  font-size: 1.2rem;
}
.skill-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.now-text2 {
  font-size: 1.2rem;
  margin-top: 20px;
}

.past-style {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  text-align: center;
}
.past-text {
  font-size: 1.2rem;
}

.footer-style {
  height: 40vh;
}

.icons-footer {
  margin-top: 30px;
}

.footer-connect {
  text-align: center;
  font-size: 1rem;
  font-family: Ubuntu;
}

.icons-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

/*post item*/

.post-title {
  color: #000;
  font-size: 3rem;
  text-align: center;
}
.post-preview-title {
  color: #000;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -2px;
  font-family: Ubuntu;
  text-align: center;
}

.blog-hero-image {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.post-item {
  margin-bottom: 40px;
}

.time-date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.date-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.text-excerpt {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  font-family: Ubuntu;
}

.button-gen {
  margin-bottom: 30px;
}

.logo {
  color: #000;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -2px;
  font-family: Ubuntu;
}

.upperbanner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.person-name-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.category-date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  margin-bottom: 25px;
  margin-top: 10px;
  font-family: Ubuntu;
  font-weight: 700;
}

/*post index*/

.recently {
  text-decoration: underline;
}

.list-items {
  margin-top: 20px;
  height: 50vh;
}

/*blog*/

.statement {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.text-b {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 13px;
}

.text-a {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 15px;
}

.list-b {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 15px;
  margin-left: 20px;
  font-weight: 600;
}

.text-b-list {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.blog-h2 {
  color: #000;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: -2px;
  font-family: Ubuntu;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
}

/*services*/

.services {
  font-weight: 600;
}

.services-text {
  font-size: 1.2rem;
  margin-top: 30px;
}

.services-section {
  margin-bottom: 100px;
}
