.showborder {
  border-width: 3px;
  border-style: solid;
  border-color: violet;
}

.movetocenter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/*navbar*/
.nav-name {
  color: #000;
  font-family: Ubuntu;
}

.section-style {
  max-width: 950px;
}

.skills {
  margin-bottom: 70px;
}

.section-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  margin-bottom: 15px;
}

.section-topic-first {
  margin-top: 0px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #494b50;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

/*iso*/
@media screen and (min-width: 992px) {
  .section-topic {
    color: #494b50;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .section-topic {
    color: #494b50;
  }
}

.section-topic2 {
  font-family: Ubuntu;
  font-size: 1.7em;
  margin-top: 30px;
  font-weight: 800;
  /* letter-spacing: 0.1em; */
  color: #494b50;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.now-style {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 120%;
}

.now-style2 {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}
.now-style3 {
  margin-top: 15px;
  font-family: "Ubuntu";
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

.year {
  font-weight: 550;
}

.now-text {
  font-size: 1rem;
}
.skill-text {
  font-size: 0.9rem;
  margin-bottom: 30px;
}
.now-text2 {
  font-family: Inter;
  font-size: 0.9rem;
  margin-top: 20px;
}

.past-style {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  text-align: center;
}
.past-text {
  font-size: 1.2rem;
}

.footer-style {
  height: 40vh;
}

.icons-footer {
  margin-top: 30px;
}

.footer-connect {
  text-align: center;
  font-size: 1rem;
  font-family: Ubuntu;
  color: #1da1f2;
}

.footer-privacy {
  text-align: center;
  font-size: 1rem;
  font-family: Ubuntu;
  font-weight: 600;
  color: grey;
}
.icons-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

/*ylateksti*/
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/*post item*/

.post-title {
  color: #000;
  font-size: 3rem;
  text-align: center;
}
.post-preview-title {
  color: #000;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: Inter;
  text-align: left;
}

.blog-hero-image {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

.post-item {
  margin-bottom: 40px;
}

.time-date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.date-line {
  margin-right: 10px;
  font-size: 0.9em;
  font-weight: 700;
  font-family: Inter;
  color: #7f7f7f;
}

.text-excerpt {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  font-family: Ubuntu;
}

.button-gen {
  margin-bottom: 30px;
}

.logo {
  color: #000;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -2px;
  font-family: Ubuntu;
}

.upperbanner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.person-name-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.category-date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  margin-bottom: 25px;
  margin-top: 10px;
  font-family: Ubuntu;
  font-weight: 700;
}

/*post index*/

.recently {
  text-decoration: underline;
}

.list-items {
  margin-top: 20px;
  font-family: Inter;
  font-size: 0.9em;
}

/*blog*/

.statement {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.text-b {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.text-a {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 15px;
}

.list-b {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 15px;
  margin-left: 20px;
  font-weight: 600;
}

.text-b-list {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.blog-h2 {
  color: #000;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: -0.5px;
  font-family: Ubuntu;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-top: 15px;
}

/*services*/

.services {
  font-weight: 600;
}

.services-text {
  font-family: Inter;
  font-size: 0.9rem;
  margin-top: 30px;
}

.services-section {
  margin-bottom: 100px;
}

/*uusi saitti*/

.name-styling {
  font-size: 2em;
  font-family: Ubuntu;
  font-weight: 600;
}

.about {
  font-family: Inter;
  font-size: 0.9em;
}

.about2 {
  margin-top: 20px;
  font-family: Inter;
  font-size: 0.9em;
}

/*iso*/
@media screen and (min-width: 992px) {
  .posts-list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .posts-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
}

.blog-styling {
  font-size: 1.5em;
  font-family: Ubuntu;
  font-weight: 600;
}

.blog-section {
  padding-top: 10px;
}

.project-styling {
  font-size: 1.5em;
  font-family: Ubuntu;
  font-weight: 600;
}

.project-content {
  margin-top: 10px;
  font-family: Inter;
  font-size: 0.9em;
}

.video-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

/*iso*/
@media screen and (min-width: 992px) {
  .auto-resizable-iframe {
    max-width: 620px;
    margin: auto, auto, auto, auto;
  }

  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 60%;
    height: 0px;
  }

  .auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .auto-resizable-iframe {
    max-width: 420px;
    margin: auto, auto, auto, auto;
  }

  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 60%;
    height: 0px;
  }

  .auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

.project {
  margin-top: 20px;
  margin-bottom: 50px;
}

.project-headline {
  margin-bottom: 8px;
  font-family: Ubuntu;
  font-weight: 700;
}

.headline-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.headline-item {
  margin-left: 10px;
}

.headline-item1 {
  margin-left: 10px;
}

/*iso*/
@media screen and (min-width: 992px) {
  .posts-list {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .posts-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
}

.nav-logo {
  color: #4a4a4a;
  font-size: 1.4rem;
  font-family: Ubuntu;
  font-weight: 700;
}

/*iso*/
@media screen and (min-width: 992px) {
  .project-text {
    max-width: 700px;
    margin-top: 20px;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .project-text {
    margin-top: 20px;
  }
}

.buttons {
  margin-top: 15px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.education-bullet1 {
  margin-left: 3px;
  margin-right: 10px;
  margin-top: 35px;
  color: hsl(186, 89%, 53%);
}

.education-bullet2 {
  margin-right: 10px;
  color: hsl(186, 89%, 53%);
}

.bullet2 {
  margin-top: 20px;
}

.sub-bullets {
  margin-top: 20px;

  margin-left: 30px;
}

.download-icon {
  margin-left: 2px;
  margin-right: 1px;
}

.pdf-download {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.pdf-button {
  font-weight: 400;
  margin-top: 20px;
}

.pdf-button a {
  color: #1da1f2;
}

.grade {
  margin-top: 20px;
}

.education-title {
}

.teamwork-skills {
  margin-top: 20px;
}

.product-skills {
  margin-top: 10px;
}
.teamwork-skills-space {
  margin-top: 20px;
  margin-bottom: 20px;
}

.teamwork-emphasis {
  font-weight: bold;
  color: #000;
}

.teamwork-content {
  margin-top: 20px;
}

.italic {
  font-style: italic;
}

.external-link {
  margin-left: 5px;
}

.skills-sub-title {
  font-weight: 600;
  font-family: Ubuntu;
}

.education-icon {
  margin-right: 10px;
}

.skills-icon {
  margin-right: 10px;
}

.experience-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-family: Ubuntu;
}

.selaamo-skills {
  margin-top: 35px;
}
.whispr-skills {
  margin-top: 35px;
}

.table-contents {
  font-family: Ubuntu;
  font-weight: 600;

  /* letter-spacing: 0.1em; */
  color: #494b50;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.button-text {
  font-size: 0.9em;
  font-family: Inter;
}
